---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="about">
  <div class="pb-12 mt-5">
    <div class="text-5xl font-bold">Zining Zhang</div>
    <div class="text-3xl py-3 font-bold">HCI Researcher, Illustrator, and Food Enthusiast</div>
    <div class="py-2">
      <text class="text-lg">
        Zining is currently a second-year Ph.D. student in the Computer Science Department at the University of Maryland. She is a member of the <a href="http://smartlab.cs.umd.edu/" target="_blank"><u>Small Artifacts Lab</u></a>, advised by <a href="http://huaishu.umiacs.io/" target="_blank"><u>Dr. Huaishu Peng</u></a>. Her expertise lies in human-computer interaction, with a specific emphasis on developing and enhancing haptic devices to provide realistic experiences in virtual and augmented reality.</br>
        </br>
        Prior to her current studies, Zining worked as a Research Engineer in the R&D Department at General Motors for two years. Before joining General Motors, she held the position of Engineer and Research Associate in the ESTAR Group at the University of Michigan, under the supervision of <a href="https://me.engin.umich.edu/people/faculty/alex-shorter/" target="_blank"><u>Dr. Alex Shorter</u></a>. Her academic background includes a Master's degree in Mechanical Engineering from the University of Michigan and a Bachelor's degree in Mechanical Engineering from Beihang University, formerly known as the Beijing University of Aeronautics and Astronautics.</br>
        </br>
        Outside of her academic pursuits, Zining is passionate about painting and enjoys exploring local restaurants. She has crafted her own food maps for the states of Michigan and Maryland and is always happy to share her recommendations.</br>
        </br>
        Zining has two cats: Hawaii and Habibi.
      </text>
    </div>

</BaseLayout>
