---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="inline opacity-75">
    &copy; {today.getFullYear()} Zining Zhang | Template powered by <a href="https://manuelernestog.github.io">Manuel Ernesto</a>
  </div>
</footer>
<style>
</style>
